<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :need_id, :value => Need.first.id %>
  <%= f.hidden_field :donor_id, :value => current_donor.id %>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>

    <%= f.text_area :body, :class => "redactor", :rows => 40, :cols => 120  %>
  </div>

  <div class='field'>
    <%= f.fields_for(:sent_messages) do |sent_fields| %>
      <div class='check_box'>
        <%= sent_fields.check_box :donor_id, {disabled: !!sent_fields.object.sent_at}, sent_fields.object.donor_id %>
        <%= sent_fields.label :donor_id, sent_fields.object.donor.name %>
        <%= sent_fields.label :donor_id, sent_fields.object.donor.email %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Send', class: 'btn btn-primary' %>
  </div>
<% end %>
