<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>


<% @messages.each do |message| %>
  <%= message.body.html_safe %>
  Sent To: <%= message.sent_to.join(', ') %><br />
  <%= link_to "Show", message %>
  <%= link_to 'Edit / Resend', edit_message_path(message) %>
  <hr></hr>
<% end %>

<%= link_to 'New Message', new_message_path, class: 'btn btn-large btn-primary' %>
